<a href="https://colab.research.google.com/github/marsavil/Data_Science_Notebooks/blob/main/01%20-%20Python%20para%20Data%20Science%3A%20primeros%20pasos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print("¡Hola mundirijillo!")

¡Hola mundirijillo!

In [ ]:
print("Escuela de Datos de Alura")

Escuela de Datos de Alura

In [ ]:
print("Nombre: Mariano")

Nombre: Mariano

In [ ]:
print("Apellido: Villaescusa")

Apellido: Villaescusa

In [ ]:
print("M")

M

In [ ]:
print("A")

A

In [ ]:
print("R")

R

In [ ]:
print("I")

I

In [ ]:
print("A")

A

In [ ]:
print("N")

N

In [ ]:
print("O")

O

In [ ]:
print(29, "Mayo", 1976)

29 Mayo 1976

In [ ]:
print("Año actual: ", 2025)

Año actual:  2025

# Aquí una celda creada con Markdown

## este es un subnivel de la celda creada

### y este, otro subnivel

**El texto se puede formatear en negritas** con doble "*"
*Tambien se puede formatear como cursiva* con un unico "*"
***o con ambos formatos a la vez*** con triple"*"

#### Listas

Listas con viñetas (* + espacio)
* Elemento 1
* Elemento 2
* Elemento 3

Listas numeradas (número + punto + espacio)
1. Elemento 1
2. Elemento 2
3. Elemento 3

#### Enlaces

[Página de Alura](https://www.aluracursos.com/)

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
nombre = "Mariano"

In [ ]:
edad = 48

In [ ]:
hijos = True

In [ ]:
otro_dato = 29.5

In [ ]:
print(nombre, edad, hijos, otro_dato)

Mariano 48 True 29.5
Estos son los 4 tipos básico en python <class 'str'> <class 'int'> <class 'bool'> <class 'float'>

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
print("Est es el tipo de datos de las cadenas de texto en python",type(nombre))

Est es el tipo de datos de las cadenas de texto en python <class 'str'>

In [ ]:
print("Este es eltipo de dato de los números enteros en  Python", type(edad))

Este es eltipo de dato de los números enteros en  Python <class 'int'>

In [ ]:
print("Este es el tipo de dato de los valores lógicos en Python", type(hijos))

Este es el tipo de dato de los valores lógicos en Python <class 'bool'>

In [ ]:
print("Este es el tipo de dato de los números decimales", type(otro_dato))

Este es el tipo de dato de los números decimales <class 'float'>

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = "Penelope Camacho"
edad_estudiante = 11
promedio_semestre = 9.75
aprobado = True

In [ ]:
print(nombre_estudiante, edad_estudiante, promedio_semestre, aprobado)
print("Estos son los 4 tipos básico en python",type(nombre_estudiante), type(edad_estudiante), type(promedio_semestre), type(aprobado))

Penelope Camacho 11 9.75 True
Estos son los 4 tipos básico en python <class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilantes = 5
s_vigilante = 300
c_docentes = 16
s_docente = 500
c_coordinador = 2
s_coordinador = 600

total_empleados = sum([c_vigilantes, c_docentes, c_coordinador])
print("Total de empleados:", total_empleados)

Total de empleados: 23

In [ ]:
# Buscamos el sueldo menor y mayor
sueldo_menor = min(s_vigilante, s_docente, s_coordinador)
sueldo_mayor = max(s_vigilante, s_docente, s_coordinador)

"""
# Comparación para encontrar el menor sueldo
if s_vigilante < s_docente:
    sueldo_menor = s_vigilante
else:
    sueldo_menor = s_docente

if sueldo_menor > s_coordinador:
    sueldo_menor = s_coordinador

# Comparación para encontrar el mayor sueldo
if s_vigilante > s_docente:
    sueldo_mayor = s_vigilante
else:
    sueldo_mayor = s_docente

if sueldo_mayor < s_coordinador:
    sueldo_mayor = s_coordinador
"""

# Calculamos la diferencia
diferencia_sueldos = sueldo_mayor - sueldo_menor


# Mostramos los resultados
print("Sueldo mayor:", sueldo_mayor)
print("Sueldo menor:", sueldo_menor)
print("Diferencia de sueldos:", diferencia_sueldos)

Sueldo mayor: 600
Sueldo menor: 300
Diferencia de sueldos: 300

In [ ]:
promedio_sueldos = (c_vigilantes * s_vigilante + c_docentes * s_docente + c_coordinador * s_coordinador)/total_empleados
print("Promedio de sueldos de toda la plantilla: ",promedio_sueldos)

Promedio de sueldos de toda la plantilla:  465.2173913043478

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
"Este es un string"

'Este es un string'

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace("y", "t")

'  Micaela de los Santos '

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto

'  Micaela de los Sanyos '

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.replace("y", "t").upper().strip()
print(nuevo_texto)
print("ubicación texto", id(texto))
print("ubicación nuevo texto",id(nuevo_texto))

MICAELA DE LOS SANTOS
ubicación texto 140493709453600
ubicación nuevo texto 140493709451600

In [ ]:
texto = texto.replace("y", "t").upper().strip()
print(texto)
print("nueva ubicación texto", id(texto))

MICAELA DE LOS SANTOS
nueva ubicación texto 140493708500848

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("Ingrese su nombre: ")
edad = input("Ingrese su edad: ")

Ingrese su nombre: Mariano
Ingrese su edad: 48

In [ ]:
type(nombre)
type(edad)

str

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
edad = int(edad)
type(edad)

int

In [ ]:
nota = float(input("Ingrese la nota de su examen: "))
type(nota)

Ingrese la nota de su exament: 7.8

float

In [ ]:
uno = 1
cero = 0
print(uno, type(uno))
print(cero, type(cero))
uno = bool(uno)
cero =  bool(cero)
print(uno, type(uno))
print(cero, type(cero))

1 <class 'int'>
0 <class 'int'>
True <class 'bool'>
False <class 'bool'>

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'Su nombre es {nombre} \n Su edad es {edad} años \n La nota de su examen es {nota}')

Su nombre es Mariano
 Su edad es 48 años
 La nota de su examen es 7.8

# Estructuras condicionales

# Formatos

In [ ]:
nombre = "Ana María"
edad = 17
print(f"El nombre de la alumna es {nombre} y su edad es {edad} años.")

El nombre de la alumna es Ana María y su edad es 17 años.

## Operador de Formateo

 Tipo de Variable	-- Palabra Clave

* Cadena de texto------------%s
* Entero---------------------%d
* Punto flotante-------------%f
* Caractér-------------------%c

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

Cuando trabajamos con números de coma flotante (float), podemos determinar la cantidad de decimales después del punto utilizando la sintaxis %.xf, donde x es el número de decimales deseados.

In [ ]:
pi = 3.141592653589793
print('El valor de PI es %.2f' %(pi))

El valor de PI es 3.14

Un detalle importante es que los operadores de formateo de cadena con % no funcionan directamente con valores booleanos.

In [ ]:
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

##Método .format():

También es posible utilizar el método .format() para formatear cadenas. Es más flexible y permite pasar las variables directamente dentro de la cadena, sin necesidad de operadores %. Los marcadores son simplemente {}

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

Del mismo modo que se hace con el operador, puedes usarlo con varias variables:

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

Nota que con .format(), no tienes el problema de los decimales de coma flotante. Tampoco tienes este problema con las f-strings.

En resumen, cada uno de estos métodos tiene sus ventajas y desventajas. Se recomienda utilizar f-strings, ya que son más legibles y fáciles de usar. Sin embargo, cada desarrollador puede elegir el método que le parezca más apropiado.

##Caracteres Especiales

Además de la formateo de inserción de variables en una cadena, también existen caracteres especiales. Se utilizan para representar acciones especiales o caracteres que no se pueden escribir directamente, como el “Enter” y la tabulación. A continuación, presentamos algunos de ellos. Intenta replicar todos los ejemplos y observa el resultado final.

\n es el carácter de nueva línea y se usa para saltar una línea en el texto (similar a la función "Enter"). Ejemplo:

In [ ]:
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

\t es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto.

In [ ]:
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

\\ se usa para imprimir una sola barra invertida. Si no se utiliza una doble barra invertida, el código podría generar un error o un resultado inesperado, ya que Python considera \ como un carácter especial. Usamos esta sintaxis para garantizar que no ocurran errores.

In [ ]:
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

\ " se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles " en el interior. Sin embargo, esto no es necesario si la cadena se crea con comillas simples '.

In [ ]:
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

\ ' se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples '. Si la cadena se crea con comillas dobles ", esto no es necesario.

In [ ]:
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

##Ejercitación

Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [ ]:
nombre = input('Bienvenido! Escriba su nombre')
print(f'Hola, {nombre}.')

Bienvenido! Escriba su nombreMariano
Hola, Mariano.

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [ ]:
nombre = input('Bienvenido! Escriba su nombre: ')
edad = input(f'Gracias {nombre}, ahora escribe tu edad: ')
print(f'Hola, {nombre}, tienes {edad} años')

Bienvenido! Escriba su nombre: Mariano
Gracias Mariano, ahora escribe su edad: 48
Hola, Mariano, tienes 48 años

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [ ]:
nombre = input('Bienvenido! Escriba su nombre: ')
edad = input(f'Gracias {nombre}, ahora escribe tu edad: ')
altura = input(f'Genial, {nombre}. Ahora bríndanos tu estatura: ')
print(f'Hola, {nombre}, tienes {edad} años y mides {altura} metros')

Bienvenido! Escriba su nombre: Mariano
Gracias Mariano, ahora escribe tu edad: 48
Genial, Mariano. Ahora bríndanos tu estatura: 1.80
Hola, Mariano, tienes 48 años y mides 1.80 metros

Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [ ]:
num1 = int(input("Ingrese un número: "))
num2 = int(input("ingrese un segundo número: "))
print(f'Has ingresado {num1} y {num2} y la suma de estos valores es {num1 + num2}')

Ingrese un número: 46
ingrese un segundo número: 78
Has ingresado 46 y 78 y la suma de estos valores es 124

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [ ]:
num1 = int(input("Ingrese un número: "))
num2 = int(input("ingrese un segundo número: "))
num3 = int(input("ingrese ahora un tercer y último número: "))
print(f'Has ingresado {num1}, {num2} y {num3} y la suma de estos valores es {num1 + num2 + num3}')

Ingrese un número: 26
ingrese un segundo número: 39
ingrese ahora un tercer y último número: 46
Has ingresado 26, 39 y 46 y la suma de estos valores es 111

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [ ]:
num1 = int(input("Ingrese un número: "))
num2 = int(input("ingrese un segundo número: "))
print(f'Has ingresado {num1}, {num2} y la resta del primero menos el segundo es {num1 - num2 }')

Ingrese un número: 29
ingrese un segundo número: 49
Has ingresado 29, 49 y la resta del primero menos el segundo es -20

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.

In [ ]:
num1 = int(input("Ingrese un número: "))
num2 = int(input("ingrese un segundo número: "))
print(f'Has ingresado {num1} y {num2} y el producto de estos valores es {num1 * num2}')

Ingrese un número: 40
ingrese un segundo número: 50
Has ingresado 40 y 50 y el producto de estos valores es 2000

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = int(input("Ingrese un número: "))
denominador = int(input("Ingrese un segundo número que no sea cero: "))
while denominador == 0:
  denominador = int(input("Ingrese un número que sea distinto de cero: "))

print(f'Has ingresado {numerador} y {denominador} y el cociente del primero por el segundo es  {numerador / denominador}')

Ingrese un número: 27
Ingrese un segundo número que no sea cero: 0
Ingrese un número que sea distinto de cero: 0
Ingrese un número que sea distinto de cero: 3
Has ingresado 27 y 3 y el cociente del primero por el segundo es  9.0

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

In [ ]:
operador = int(input("Ingresa un número: "))
potencia = int(input("Ingresa un segundo número: "))

print(f'Has ingresado {operador} y {potencia} y el resultado de elevar el primero a la potencia del segundo es {operador ** potencia}')

Ingresa un número5
Ingresa un segundo número5
Has ingresado 5 y 5 y el resultado de elevar el primero a la potencia del segundo es 3125

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = int(input("Ingrese un número: "))
denominador = int(input("Ingrese un segundo número que no sea cero: "))
while denominador == 0:
  denominador = int(input("Ingrese un número que sea distinto de cero: "))

print(f'Has ingresado {numerador} y {denominador} y la división entera del primero por el segundo es  {numerador // denominador}')

Ingrese un número: 10
Ingrese un segundo número que no sea cero: 0
Ingrese un número que sea distinto de cero: 0
Ingrese un número que sea distinto de cero: 7
Has ingresado 10 y 7 y la división entera del primero por el segundo es  1

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = int(input("Ingrese un número: "))
denominador = int(input("Ingrese un segundo número que no sea cero: "))
while denominador == 0:
  denominador = int(input("Ingrese un número que sea distinto de cero: "))

print(f'Has ingresado {numerador} y {denominador} y el resto de la divisón del primero por el segundo es  {numerador % denominador}')

Ingrese un número: 20
Ingrese un segundo número que no sea cero: 0
Ingrese un número que sea distinto de cero: 3
Has ingresado 20 y 3 y el resto de la divisón del primero por el segundo es  2

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

In [ ]:
nota1 = float(input("Ingresa la nota de tu primer parcial: "))
nota2 = float(input("Ingresa la nota de tu segundo parcial: "))
nota3 = float(input("Ingresa la nota de tu tercer parcial: "))
promedio = (nota1 + nota2 + nota3)/3

print(f'tus notas fueron {nota1}, {nota2} y {nota3}. El promedio de tus notas es %.2f' %(promedio) )

Ingresa la nota de tu primer parcial: 6.8
Ingresa la nota de tu segundo parcial: 7.5
Ingresa la nota de tu tercer parcial: 8.3
tus notas fueron 6.8, 7.5 y 8.3. El promedio de tus notas es 7.53

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [ ]:
valores = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

suma_ponderada = sum(valor * peso for valor, peso in zip (valores, pesos))
suma_pesos = sum(pesos)

promedio_ponderado = suma_ponderada/suma_pesos

print(f'El promedio ponderado es {promedio_ponderado}')

El promedio ponderado es 14.9

Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

In [ ]:
frase = "As I lay here with you, the shame lies with us."
print(frase)

As I lay here with you, the shame lies with us.

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user)

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user.strip().upper())

Ingresa una frase, idea, pensamiento: we talk of lñove and trust, it doesn't matter
WE TALK OF LÑOVE AND TRUST, IT DOESN'T MATTER

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user.strip().lower())

Ingresa una frase, idea, pensamiento: WE TALK OF LOVE AND TRUST, IT DOESN'T MATTER
we talk of love and trust, it doesn't matter

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

In [ ]:
frase = "    As I lay here with you, the shame lies with us.   "
print(frase.strip())

As I lay here with you, the shame lies with us.

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user.strip())

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user.strip().lower())

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user.strip().lower().replace("e", "f"))

Ingresa una frase, idea, pensamiento: End of the world is here
fnd of thf world is hfrf

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user.strip().lower().replace("a", "@"))

Ingresa una frase, idea, pensamiento: The shame lies with us, we talk of love and trust, it doesn't matter
the sh@me lies with us, we t@lk of love @nd trust, it doesn't m@tter

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [ ]:
frase_user = input("Ingresa una frase, idea, pensamiento: ")
print(frase_user.strip().lower().replace("s", "$"))

Ingresa una frase, idea, pensamiento: we talk of love and trust, it doesn't matter
we talk of love and tru$t, it doe$n't matter

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [ ]:
nota = float(input("Ingrese  su nota: "))

Ingrese  su nota: 6.9

In [ ]:
if nota >= 7:
  print('Aprobado')
else:
  print('Reprobado')

Reprobado

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [ ]:
nota = float(input("Ingrese  su nota: "))

Ingrese  su nota: 8

In [ ]:
if nota >= 7:
  print('Aprobado')
else:
   print('Reprobado')

Reprobado

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [ ]:
if nota >= 7:
  print('Aprobado')
if 7 > nota >= 5:
    print('Recuperacion')
else:
   print('Reprobado')

Aprobado
Reprobado

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [ ]:
nota = float(input("Ingrese  su nota: "))

In [ ]:
if nota >= 7:
  print('Aprobado')

elif nota >= 5:
    print('Recuperacion')
else:
    print('Reprobado')

Aprobado

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [ ]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [ ]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [ ]:
if nombre_1 in lista:
  print("Aprobó")
else:
  print("Reprobó")

Aprobó

In [ ]:
if nombre_2 in lista:
  print("Aprobó")
else:
  print("Reprobó")

Reprobó

##Ejercitación
Entrenando la programación

1 - Escribe un programa que pida a la persona usuaria que proporcione dos números y muestre el número más grande.

In [ ]:
num1 = int(input("Ingrese un número: "))
num2 = int(input("ingrese un segundo número: "))

if num1 > num2:
  print(f'{num1} es mayor')
elif num1 < num2:
  print(f'{num2} es mayor')
else:
  print(f'{num1} y {num2} son iguales')

Ingrese un número: 15
ingrese un segundo número: 15
15 y 15 son iguales

2 - Escribe un programa que solicite el porcentaje de crecimiento de producción de una empresa e informe si hubo un crecimiento (porcentaje positivo) o una disminución (porcentaje negativo).

In [ ]:
porcentaje = int(input("Ingrese el porcentaje de variación en la producción "))

if porcentaje > 0:
  print(f'Se registró un crecimiento del {porcentaje}% en la producción')
elif porcentaje < 0:
  print(f'Se registró un descenso del {abs(porcentaje)}% en la producción')
else:
  print("La producción se mantuvo estable")

Ingrese el porcentaje de variación en la producción 0
La producción se mantuvo estable

3 - Escribe un programa que determine si una letra proporcionada por la persona usuaria es una vocal o una consonante.

In [ ]:
'''letra = input("Escribe una letra: ")
vocales ="a, e, i, o, u"

if letra.lower() in vocales:
  print("La letra elegida es una vocal")
else:
  print("La letra elegida es una consonante")'''

vocales = "aeiou"

letra = input("Escribe una letra: ").lower()

# Se verifica que el usuario ingrese una única letra y que efectivamente sea una letra
while not (letra.isalpha() and len(letra) == 1):
    letra = input("Entrada no válida. Por favor, escribí una sola letra del abecedario: ").lower()

# Se evalúa si el usuario ingresó una vocal o consonante
if letra in vocales:
    print("La letra elegida es una vocal.")
else:
    print("La letra elegida es una consonante.")

Escribe una letra: AT
Entrada no válida. Por favor, escribí una sola letra del abecedario: 2
Entrada no válida. Por favor, escribí una sola letra del abecedario: !
Entrada no válida. Por favor, escribí una sola letra del abecedario: Z
La letra elegida es una consonante.

4 - Escribe un programa que lea valores promedio de precios de un modelo de automóvil durante 3 años consecutivos y muestre el valor más alto y más bajo entre esos tres años.

In [ ]:
years = [2023, 2024, 2025]
values = [15000, 14500, 16000]

# Buscar el valor más alto y el más bajo
max_value = max(values)
min_value = min(values)

# Inicializar variables para guardar los años correspondientes
year_max = 0
year_min = 0

# Recorremos ambos al mismo tiempo
for value, year in zip(values, years):
    if value == max_value:
        year_max = year
    if value == min_value:
        year_min = year

print(f"El valor más alto fue de ${max_value} en el año {year_max}")
print(f"El valor más bajo fue de ${min_value} en el año {year_min}")

El valor más alto fue de $16000 en el año 2025
El valor más bajo fue de $14500 en el año 2024

5 - Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.

In [ ]:
productos = ["producto1", "producto2", "producto3"]
precios = []
for producto in productos:
  precio = float(input(f'ingrese el precio del {producto}: '))
  precios.append(precio)

precio_minimo = min(precios)
index = precios.index(precio_minimo)
producto_mas_barato = productos[index]

print(f'El producto mas barato es {producto_mas_barato} y vale ${precio_minimo}')

ingrese el precio del producto14600
ingrese el precio del producto23590
ingrese el precio del producto34800
El producto mas barato es producto2 y vale $3590.0

6 - Escribe un programa que lea tres números y los muestre en orden descendente.

In [ ]:
numbers = [42, 3, 81]
print(sorted(numbers, reverse=True))

[81, 42, 3]

[42, 3, 81]

7 -Escribe un programa que pregunte en qué turno estudia la persona usuaria ("mañana", "tarde" o "noche") y muestre el mensaje "¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!" o "Valor Inválido!", según el caso.

In [ ]:
turnos = ["mañana", "tarde", "noche"]
saludos = ["¡Buenos Días!", "¡Buenas Tardes!", "¡Buenas Noches!"]

while True:
    turno = input("Indique su turno laboral (mañana, tarde o noche): ").lower()
    encontrado = False

    for t, saludo in zip(turnos, saludos):
        if turno == t:
            print(saludo)
            encontrado = True
            break  # sale del for

    if encontrado:
        break  # sale del while si el turno fue válido
    else:
        print("Valor inválido. Por favor, intente nuevamente.\n")

Indique su turno laboral (mañana, tarde o noche): manaa
Valor inválido. Por favor, intente nuevamente.

Indique su turno laboral (mañana, tarde o noche): mañana
¡Buenos Días!

8 - Escribe un programa que solicite un número entero a la persona usuaria y determine si es par o impar. Pista: Puedes usar el operador módulo (%).

In [ ]:
while True:
    entrada = input("Ingrese un número entero: ")
    try:
        num = int(entrada)
        if num % 2 == 0:
            print("Usted ha ingresado un número par")
        else:
            print("Usted ha elegido un número impar")
        break  # Salimos del bucle si todo salió bien
    except ValueError:
        print("¡Entrada inválida! Por favor, ingrese un número entero.\n")

Ingrese un número entero: 5.2
¡Entrada inválida! Por favor, ingrese un número entero.

Ingrese un número entero: nueve
¡Entrada inválida! Por favor, ingrese un número entero.

Ingrese un número entero: 4
Usted ha ingresado un número par

9 - Escribe un programa que pida un número a la persona usuaria y le informe si es entero o decimal.

In [ ]:
while True:
  entrada = input("Ingrese un número: ").strip()

  try:
    numero = float(entrada)
    if numero.is_integer():
        print("El número ingresado es un número entero.")
        break
    else:
        print("El número ingresado es un número decimal.")
        break
  except ValueError:
    print("¡Entrada inválida! Debe ingresar un número.\n")

Ingrese un número: 52
El número ingresado es un número entero.

10 - Un programa debe ser escrito para leer dos números y luego preguntar a la persona usuaria qué operación desea realizar. El resultado de la operación debe incluir información sobre el número, si es par o impar, positivo o negativo, e entero o decimal.

In [ ]:
'''
numero1 = 0
numero2 = 0
operaciones = ["suma", "resta", "multiplicación", "división"]
simbolos = ["+", "-", "*", "/"]
control = True
resultado = 0
while True:
  num1 = input("Ingrese el primer número: ").strip()
  try:
    numero1 = float(num1)
    break
  except ValueError:
    print("¡Entrada inválida! Debe ingresar un número.\n")

while True:
  num2 = input("Ingrese un segundo número para operar: ").strip()
  try:
    numero2 = float(num2)
    break
  except ValueError:
    print("¡Entrada inválida! Debe ingresar un número.\n")

while control:
  operacion = input("Seleccione una operacion (suma, resta, multiplicación, división): ")
  if operacion in operaciones:
    control = not control
  else:
    print("La operación no es una operacion valida.\n")

for op, simbolo in zip(operaciones, simbolos):
  if operacion == op:
    indice = operaciones.index(op)
    resultado = eval(f'{numero1}{simbolos[indice]}{numero2}')
    if resultado.is_integer():
      tipo = "entero"
    else:
      tipo = "decimal"
    if resultado%2 == 0:
      par_impar = "par"
    else:
      par_impar = "impar"
    if resultado > 0:
      pos_ne = "positivo"
    else:
      pos_ne = "negativo"

    print(f'El resultado de la operación es {resultado}, el cual es un número {tipo}, {par_impar} y {pos_ne}')
    break

'''
operaciones = ["suma", "resta", "multiplicación", "división"]

while True:
    try:
        numero1 = float(input("Ingrese el primer número: ").strip())
        break
    except ValueError:
        print("¡Entrada inválida! Debe ingresar un número.\n")

while True:
    try:
        numero2 = float(input("Ingrese el segundo número: ").strip())
        break
    except ValueError:
        print("¡Entrada inválida! Debe ingresar un número.\n")

while True:
    operacion = input("Seleccione una operación (suma, resta, multiplicación, división): ").strip().lower()
    if operacion in operaciones:
        break
    else:
        print("La operación no es válida.\n")

# Realiza la operación elegida
if operacion == "suma":
    resultado = numero1 + numero2
elif operacion == "resta":
    resultado = numero1 - numero2
elif operacion == "multiplicación":
    resultado = numero1 * numero2
elif operacion == "división":
    if numero2 != 0:
        resultado = numero1 / numero2
    else:
        print("No se puede dividir por cero.")
        exit()

# Análisis del resultado
tipo = "entero" if resultado.is_integer() else "decimal"
par_impar = "par" if resultado % 2 == 0 else "impar"
pos_ne = "positivo" if resultado > 0 else "negativo"

print(f"\nEl resultado de la operación es {resultado}, el cual es un número {tipo}, {par_impar} y {pos_ne}.")

Ingrese el primer número: 6
Ingrese el segundo número: 4.5
Seleccione una operación (suma, resta, multiplicación, división): multiplicación

El resultado de la operación es 27.0, el cual es un número entero, impar y positivo.

11 - Escribe un programa que pida a la persona usuaria tres números que representan los lados de un triángulo. El programa debe informar si los valores pueden utilizarse para formar un triángulo y, en caso afirmativo, si es equilátero, isósceles o escaleno. Ten en cuenta algunas sugerencias:

In [ ]:
es_triangulo = False

while not es_triangulo:
    try:
        lado1 = float(input("Ingrese la longitud del primer lado del triángulo: "))
        lado2 = float(input("Ingrese la longitud del segundo lado: "))
        lado3 = float(input("Por último, ingrese la longitud del tercer lado: "))

        if (lado1 + lado2 > lado3) and (lado1 + lado3 > lado2) and (lado2 + lado3 > lado1):
            es_triangulo = True
        else:
            print("❌ Las medidas no forman un triángulo válido. Intente nuevamente.\n")
    except ValueError:
        print("⚠️ Entrada inválida. Por favor, ingrese números válidos.\n")

if lado1 == lado2 == lado3:
  print("Las medidas brindads corresponden a un triángulo EQUILATERO")
elif lado1 == lado2 or lado1 == lado3 or lado2 == lado3:
  print("Las medidas brindadas corresponden a un triángulo ISÓSCELES ")
else:
    print("Las medidas brindadas corresponden a un triángulo ESCALENO")

Ingrese la longitud del primer lado del triángulo: 6
Ingrese la longitud del segundo lado: 6
Por último, ingrese la longitud del tercer lado: 6
Las medidas brindads corresponden a un triángulo EQUILATERO

12 - Un establecimiento está vendiendo combustibles con descuentos variables. Para el etanol, si la cantidad comprada es de hasta 15 litros, el descuento será del 2% por litro. En caso contrario, será del 4% por litro. Para el diésel, si la cantidad comprada es de hasta 15 litros, el descuento será del 3% por litro. En caso contrario, será del 5% por litro. El precio por litro de diésel es de R$ 2,00 y el precio por litro de etanol es de R$ 1,70. Escribe un programa que lea la cantidad de litros vendidos y el tipo de combustible (E para etanol y D para diésel) y calcule el valor a pagar por el cliente. Ten en cuenta algunas sugerencias:
* El valor del descuento será el producto del precio por litro, la cantidad de litros y el valor del descuento.
* El valor a pagar por un cliente será el resultado de la multiplicación del precio por litro por la cantidad de litros menos el valor del descuento resultante del cálculo.

In [ ]:
'''
precio_e = 1.70
precio_d = 2
litros = float(input("Ingrese la cantidad de litros vendidos"))
venta = input("Ingrese tipo de combustible vendido. E para entanol o D para diesel: ")
if litros >= 15 and venta == "E":
  total = litros * precio_e * 0.96
  print(f'Total a abonar ${total}')
elif litros < 15 and venta == "E":
  total = litros * precio_e * 0.98
  print(f'Total a abonar ${total}')
elif litros >= 15 and venta == "D":
  total = litros * precio_d * 0.95
  print(f'Total a abonar ${total}')
elif litros < 15 and venta == "D":
  total = litros * precio_d * 0.97
  print(f'Total a abonar ${total}')
'''

# Precios por litro
precio_e = 1.70
precio_d = 2.00

# Entrada de datos
while True:
    try:
        litros = float(input("Ingrese la cantidad de litros vendidos: "))
        if litros <= 0:
            print("⚠️ La cantidad de litros debe ser mayor a cero.\n")
            continue
        break
    except ValueError:
        print("⚠️ Entrada inválida. Debe ingresar un número válido.\n")

while True:
    venta = input("Ingrese el tipo de combustible ('E' para etanol, 'D' para diésel): ").strip().upper()
    if venta in ["E", "D"]:
        break
    else:
        print("⚠️ Tipo de combustible no válido. Ingrese 'E' o 'D'.\n")

# Cálculo del precio y descuento
if venta == "E":
    precio = precio_e
    descuento = 0.02 if litros <= 15 else 0.04
else:  # venta == "D"
    precio = precio_d
    descuento = 0.03 if litros <= 15 else 0.05

valor_bruto = litros * precio
valor_descuento = valor_bruto * descuento
total = valor_bruto - valor_descuento

# Resultado
print(f"\n🧾 Detalles de la compra:")
print(f"- Combustible: {'Etanol' if venta == 'E' else 'Diésel'}")
print(f"- Litros: {litros}")
print(f"- Precio por litro: ${precio:.2f}")
print(f"- Descuento aplicado: {descuento * 100}%")
print(f"- Total a abonar: ${total:.2f}")

Ingrese la cantidad de litros vendidos: 26.8
Ingrese el tipo de combustible ('E' para etanol, 'D' para diésel): l
⚠️ Tipo de combustible no válido. Ingrese 'E' o 'D'.

Ingrese el tipo de combustible ('E' para etanol, 'D' para diésel): e

🧾 Detalles de la compra:
- Combustible: Etanol
- Litros: 26.8
- Precio por litro: $1.70
- Descuento aplicado: 4.0%
- Total a abonar: $43.74

13 - En una empresa de venta de bienes raíces, debes crear un código que analice los datos de ventas anuales para ayudar a la dirección en la toma de decisiones. El código debe recopilar los datos de cantidad de ventas durante los años 2022 y 2023 y calcular la variación porcentual. A partir del valor de la variación, se deben proporcionar las siguientes sugerencias:

* Para una variación superior al 20%: bonificación para el equipo de ventas.
* Para una variación entre el 2% y el 20%: pequeña bonificación para el equipo de ventas.
* Para una variación entre el 2% y el -10%: planificación de políticas de incentivo a las ventas.
* Para bonificaciones inferiores al -10%: recorte de gastos.

In [ ]:
'''
while True:
  try:
    ventas2022 = float(input("Ingrese la cantidad de ventas del año 2022: "))
    ventas2023 = float(input("Ingrese la cantidad de ventas del año 2023: "))
    break
  except ValueError:
        print("⚠️ Entrada inválida. Debe ingresar un número válido.\n")

variacion = ventas2023 * 100 / ventas2022 - 100

if variacion >= 20:
  print("Bonificación para el equipo de ventas")
elif variacion >= 2:
  print("Pequeña bonificación para el equipo de ventas")
elif variacion >= -10:
  print("Planificación de políticas de incentivo a las ventas")
else:
  print("Recorte de gastos")

'''

while True:
    try:
        ventas2022 = float(input("Ingrese la cantidad de ventas del año 2022: "))
        ventas2023 = float(input("Ingrese la cantidad de ventas del año 2023: "))
        if ventas2022 <= 0:
            print("⚠️ Las ventas de 2022 deben ser mayores a cero para calcular la variación.\n")
            continue
        break
    except ValueError:
        print("⚠️ Entrada inválida. Debe ingresar un número válido.\n")

# Cálculo de la variación porcentual
variacion = (ventas2023 - ventas2022) / ventas2022 * 100

print(f"\n📊 Variación porcentual de ventas: {variacion:.2f}%")

# Sugerencia según la variación
if variacion > 20:
    print("✅ Bonificación para el equipo de ventas")
elif 2 <= variacion <= 20:
    print("👍 Pequeña bonificación para el equipo de ventas")
elif -10 <= variacion < 2:
    print("📈 Planificación de políticas de incentivo a las ventas")
else:
    print("⚠️ Recorte de gastos")

Ingrese la cantidad de ventas del año 2022: 1236
Ingrese la cantidad de ventas del año 2023: 1456

📊 Variación porcentual de ventas: 17.80%
👍 Pequeña bonificación para el equipo de ventas

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Ejercitación

# Estructuras de datos

Entrenando la programación

1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

In [ ]:
try:
  num1 = int(input("Ingrese el primer número entero: "))
  num2 = int(input("Ingrese el segundo número entero: "))
  if num1 > num2:
    for i in range(num2, num1 + 1):
      print(i)
  elif num2 > num1:
    for i in range(num1, num2 + 1):
      print(i)
except ValueError:
  print("⚠️ Entrada inválida. Por favor, ingrese números válidos.\n")

Ingrese el primer número entero: dos
⚠️ Entrada inválida. Por favor, ingrese números válidos.

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

In [ ]:
colonia_a = 4
colonia_b =10

crecimiento_a = 3
crecimiento_b = 1.5

dias = 0

while colonia_a <= colonia_b:
  colonia_a = colonia_a * (crecimiento_a +100)/100
  colonia_b = colonia_b * (crecimiento_b +100)/100
  dias += 1

print(f'Tomará {dias} días que la colonia A supere a la colonia B')

Tomará 63 días que la colonia A supere a la colonia B

3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

In [ ]:
evaluaciones = []
for ev in range(1,16):
  while True:
    try:
      evaluacion = float(input("Ingrese una evaluación de 0 a 5: "))
      if evaluacion >= 0 and evaluacion <= 5:
        evaluaciones.append(evaluacion)
        break
      else:
          print("⚠️ La evaluación debe estar entre 0 y 5")
    except ValueError:
        print("⚠️ Entrada inválida. Por favor, ingrese un número válido.\n")

print(evaluaciones)

Ingrese una evaluación de 0 a 5: 2
Ingrese una evaluación de 0 a 5:
⚠️ Entrada inválida. Por favor, ingrese un número válido.

Ingrese una evaluación de 0 a 5: 2
Ingrese una evaluación de 0 a 5: 2
Ingrese una evaluación de 0 a 5:
⚠️ Entrada inválida. Por favor, ingrese un número válido.

Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5:
⚠️ Entrada inválida. Por favor, ingrese un número válido.

Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
Ingrese una evaluación de 0 a 5: 5
[2.0, 2.0, 2.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [ ]:
factorial = 1
try:
  num = int(input("Ingrese un numero entero positivo para calcular su factoiral: "))
  num2 = num
  while num > 0:
    factorial *=num
    num -=1
  print(f'El factorial de {num2} es {factorial}')
except ValueError:
  print("⚠️ Entrada inválida. Por favor, ingrese un número válido.\n")

Ingrese un numero entero positivo para calcular su factoiral: 0
El factorial de 0 es 1

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 2, la tabla de multiplicar debe mostrarse en el siguiente formato:

Tabla de multiplicar del 2:
2 x 1 = 2
2 x 2 = 4
[...]
2 x 10 = 20

In [ ]:
num = 0
while 0 <= num <= 9:
  try:
    num = int(input("Ingrese un número entero del 1 al 9: "))
    if num > 9:
      print("⚠️ El número debe estar entre 1 y 9")
      num = 0

    elif 0 < num <= 9:
      break
  except ValueError:
    print("⚠️ Entrada inválida. Por favor, ingrese un número válido.\n")

print(f'Tabla de multiplicar del {num}: ')
for i in range(1,11):
   print(f'{num} x {i}\t =\t {num*i}')

Ingrese un número entero del 1 al 9: 1.9
⚠️ Entrada inválida. Por favor, ingrese un número válido.

KeyboardInterrupt: Interrupted by user

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

In [ ]:
try:
  num = int(input("Ingrese un número entero: "))
  if num < 2:
    print(f'el número {num} no es primo')
  else:
    for i in range(2,num):
      if num % i == 0:
        print(f'el número {num} no es primo')
        break

    else:
      print(f'el número {num} es primo')
except ValueError:
  print("⚠️ Entrada inválida. Por favor, ingrese un número válido.\n")

Ingrese un número entero: 47
el número 47 es primo

En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [ ]:
candidato_1 = 0
candidato_2 = 0
candidato_3 = 0
candidato_4 = 0
voto_nulo = 0
voto_blanco = 0
total_votos = 0

for i in range(1,21):
  try:
    voto = input("Ingresa tu voto (1, 2, 3, 4): ")
    if voto == "":
      voto_blanco += 1
      total_votos += 1
    else:
      voto = int(voto)
      if voto == 1:
        candidato_1 += 1
      elif voto == 2:
        candidato_2 += 1
      elif voto == 3:
        candidato_3 += 1
      elif voto == 4:
        candidato_4 += 1
      elif voto > 4:
        voto_nulo += 1
      total_votos += 1

  except ValueError:
    print("⚠️ Entrada inválida. Por favor, ingrese un número válido.\n")

print(f'Candidato 1: {candidato_1}\nCandidato 2: {candidato_2}\nCandidato 3: {candidato_3}\nCandidato 4: {candidato_4}\nVotos nulos: {voto_nulo}\nVotos en blanco: {voto_blanco}\nTotal votos: {total_votos}')

Ingresa tu voto (1, 2, 3, 4): 1
Ingresa tu voto (1, 2, 3, 4): 4
Ingresa tu voto (1, 2, 3, 4):
Ingresa tu voto (1, 2, 3, 4): 8
Ingresa tu voto (1, 2, 3, 4): 5
Ingresa tu voto (1, 2, 3, 4): 2
Ingresa tu voto (1, 2, 3, 4): 3
Ingresa tu voto (1, 2, 3, 4): 6
Ingresa tu voto (1, 2, 3, 4): 9
Ingresa tu voto (1, 2, 3, 4): 1
Ingresa tu voto (1, 2, 3, 4): 2
Ingresa tu voto (1, 2, 3, 4): 3
Ingresa tu voto (1, 2, 3, 4): 4
Ingresa tu voto (1, 2, 3, 4): 51
Ingresa tu voto (1, 2, 3, 4): 2
Ingresa tu voto (1, 2, 3, 4): 3
Ingresa tu voto (1, 2, 3, 4): 8
Ingresa tu voto (1, 2, 3, 4): 3
Ingresa tu voto (1, 2, 3, 4): 1
Ingresa tu voto (1, 2, 3, 4): 4
Candidato 1: 3
Candidato 2: 3
Candidato 3: 4
Candidato 4: 3
Votos nulos: 6
Votos en blanco: 1
Total votos: 20

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [ ]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [ ]:
lista[0]

'Penélope Camacho'

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [ ]:
print(lista[1])
print(lista[2])
print(lista[3])

9.5
9.0
9.7

In [ ]:
print(lista[-1])
print(lista[-2])
print(lista[-3])

True
9.7
9.0

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [ ]:
for item in lista:
  print(item)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [ ]:
lista[2] = 10

10

In [ ]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [ ]:
promedio = (lista[1]+lista[2]+lista[3])/3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [ ]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [ ]:
lista[:3]

['Penélope Camacho', 9.5, 10]

In [ ]:
lista[3:]

[9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [ ]:
lista.append(promedio)

In [ ]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [ ]:
lista.extend([10.0,8.0,9.0])

In [ ]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [ ]:
lista.append([10.0,8.0,9.0] )

In [ ]:
lista

['Penélope Camacho',
 9.5,
 10,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [ ]:
lista.remove([10.0,8.0,9.0] )

In [ ]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

Hemos estudiado algunos métodos en clase, y además de esos, podemos utilizar otros para manipular listas en Python. Vamos a conocerlos y ver ejemplos de cómo se utilizan. En todos los casos, utilizaremos la siguiente lista llamada "razas_de_perros":

In [ ]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

El primer método es **insert()**, que permite insertar un elemento en una posición específica de la lista. La sintaxis es lista.insert(indice, elemento), donde "lista" es la lista que recibirá el nuevo elemento, "indice" es la posición donde se insertará el nuevo elemento y "elemento" es el nuevo elemento que se insertará.

In [ ]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

Siguiendo este enfoque, la estructura lista.insert(len(lista), elemento) es equivalente al uso del método append()

In [ ]:
razas_de_perros.insert(len(razas_de_perros), 'Husky Siberiano')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle',
 'Husky Siberiano']

El método pop() elimina el elemento en una posición específica de la lista y lo devuelve como salida al ejecutar el método. Solo necesitamos especificar, entre paréntesis, el índice del elemento que deseamos eliminar, y se eliminará de la lista. Por lo tanto, eliminemos la raza "Golden Retriever" que agregamos en el método anterior.

In [ ]:
razas_de_perros.pop(1)
razas_de_perros

['Labrador Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle',
 'Husky Siberiano']

El método index() devuelve el índice de un elemento específico en la lista. Para hacerlo, especificamos el elemento entre paréntesis. Para encontrar el índice de la raza "Pastor Alemán" en la lista, hacemos lo siguiente:

In [ ]:
razas_de_perros.index('Pastor Alemán')

2

El método sort() ordena los elementos de la lista en orden ascendente o descendente. Si son palabras, el orden se basa en el orden alfabético o en el orden inverso. Para ordenar los valores, simplemente llamamos al método sort(), y la lista se organizará en orden. Para ordenar alfabéticamente la lista de razas de perros, podemos usar el siguiente código:

In [ ]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés',
 'Husky Siberiano',
 'Labrador Retriever',
 'Pastor Alemán',
 'Poodle']

In [ ]:
razas_de_perros.sort(reverse=True)
razas_de_perros

['Poodle',
 'Pastor Alemán',
 'Labrador Retriever',
 'Husky Siberiano',
 'Bulldog Francés']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [ ]:
diccionaro = {
    "key_1":1,
    "key_2":2,
    "key_3":3
}

In [ ]:
diccionaro

{'key_1': 1, 'key_2': 2, 'key_3': 3}

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [ ]:
estudiante = {
    "matricula":2000168933,
    "dia":25,
    "mes":10,
    "grupo":"2E"
}

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2E'}

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [ ]:
estudiante["grupo"] = "2G" ## opción 1

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2G'}

In [ ]:
estudiante["grupo"] ="2E" ## Restauro

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2E'}

In [ ]:
estudiante.update({"grupo":"2G"}) ## opción 2

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [ ]:
estudiante["modalidad"] = "EAD" ## opción 1

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'grupo': '2G'}

In [ ]:
estudiante.update({"modalidad":"Presencial"}) ## opción 2

In [ ]:
estudiante

{'matricula': 2000168933,
 'dia': 25,
 'mes': 10,
 'grupo': '2G',
 'modalidad': 'Presencial'}

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [ ]:
estudiante.pop("grupo")

'2G'

In [ ]:
estudiante

{'matricula': 2000168933, 'dia': 25, 'mes': 10, 'modalidad': 'Presencial'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [ ]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia', 25), ('mes', 10), ('modalidad', 'Presencial')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [ ]:
estudiante.keys()

dict_keys(['matricula', 'dia', 'mes', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [ ]:
estudiante.values()

dict_values([2000168933, 25, 10, 'Presencial'])

### Lectura de valores con el lazo `for`

In [ ]:
for key in estudiante.keys():
  print(key)

matricula
dia
mes
modalidad

In [ ]:
for key, value in estudiante.items():
  print(key, ' ----> ', value)

matricula  ---->  2000168933
dia  ---->  25
mes  ---->  10
modalidad  ---->  Presencial

Podemos asociar estructuras de datos a otras estructuras de datos, como ocurre cuando tenemos listas dentro de diccionarios. En este caso, las listas pueden ser almacenadas en los valores de un diccionario de tal manera que cada clave puede tener una lista asociada a ella. Esto es útil cuando necesitamos almacenar varios valores relacionados con una sola clave. Por ejemplo, podemos construir un conjunto de datos de una tienda que contenga una clave con los nombres de cada producto y otra clave con los precios correspondientes, como se muestra en el código a continuación:

In [ ]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
tienda

{'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
 'precios': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

El primer bucle, el más externo, recorre los elementos dentro del diccionario (claves y elementos). Sabiendo que los elementos son listas, podemos acceder a los datos de las listas con otro bucle anidado que se encuentra dentro del primer bucle. El bucle más interno recorre los elementos de cada lista uno a uno e imprime los valores dentro de ellas.

In [ ]:
for product, price in zip(tienda['nombres'], tienda['precios']):
  print(f'El producto {product} tiene un precio de {price}')

El producto televisión tiene un precio de 2000
El producto celular tiene un precio de 1500
El producto notebook tiene un precio de 3500
El producto geladeira tiene un precio de 4000
El producto estufa tiene un precio de 1500

##Ejercitación

Entrenando la programación

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
promedio = sum(gastos)/len(gastos)
print(f'El promedio de gastos es {promedio}')

El promedio de gastos es 3144.222

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [ ]:
compras_mayores = []
for gasto in gastos:
  if gasto > 3000:
    compras_mayores.append(gasto)
print(f'Gastos mayores a $3000, {len(compras_mayores)} compras')
print(f'En total representan el {(sum(compras_mayores)*100/sum(gastos)):.2f}% del total de los gastos')

Gastos mayores a $3000, 7 compras
En total representan el 76.68% del total de los gastos

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [ ]:
import random

lista_random = []

for i in range(5):
  lista_random.append(random.randint(0,100))

lista_random

[63, 29, 62, 12, 6]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [ ]:
import random

lista_random2 = []

for i in range(5):
  lista_random2.append(random.randint(0,100))

print(lista_random2)
print(lista_random2[::-1])

[28, 14, 77, 95, 96]
[96, 95, 77, 14, 28]

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
try:
  lista_primos = []
  num = int(input("Ingrese un número entero: "))
  for n in range(2, num+1):
    for i in range(2,n):
      if n % i == 0:
        break
    else:
        lista_primos.append(n)

  print(f' Números primnos contenidos entre 1 y {num}: {lista_primos}')

except ValueError:
  print("⚠️ Entrada inválida. Por favor, ingrese un número válido.\n")

Ingrese un número entero: 13
 Números primnos contenidos entre 1 y 13: [2, 3, 5, 7, 11, 13]

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [ ]:
'''
try:
  fecha = input("Ingrese una fecha en formato dd/mm/aaaa: ")
  anio_actual = int(input("Ingrese el año actual: "))
  dia, mes, año = fecha.split('/')
  dia = int(dia)
  mes = int(mes)
  año = int(año)

  if 0 < dia <= 31 and (mes == 1 or mes == 3 or mes == 5 or mes == 7 or mes == 8 or mes == 10 or mes == 12):
    print(f'La fecha {fecha} es válida')
  elif 0 < dia <= 30 and (mes == 4 or mes == 6 or mes == 9 or mes == 11):
    print(f'La fecha {fecha} es válida')
  elif 0 < dia <= 28 and mes == 2:
    print(f'La fecha {fecha} es válida')
  elif 0 < dia <= 29:
    if año % 4 == 0:
      if año % 100 == 0:
        if año % 400 == 0:
            print(f'La fecha {fecha} es válida')
        else:
            print(f'La fecha {fecha} no es válida')
      else:
        print(f'La fecha {fecha} es válida')
    else:
      print(f'La fecha {fecha} no es válida')
  else:
    print(f'La fecha {fecha} no es válida')


except ValueError:
  print("⚠️ Entrada inválida. Por favor, ingrese una fecha válida.\n")
  '''

def es_bisiesto(año):
    return año % 4 == 0 and (año % 100 != 0 or año % 400 == 0)

try:
    fecha = input("Ingrese una fecha en formato dd/mm/aaaa: ")
    anio_actual = int(input("Ingrese el año actual: "))
    dia, mes, año = map(int, fecha.split('/'))

    dias_por_mes = {
        1: 31, 2: 28, 3: 31, 4: 30,
        5: 31, 6: 30, 7: 31, 8: 31,
        9: 30, 10: 31, 11: 30, 12: 31
    }

    # Si es bisiesto, febrero tiene 29 días
    if es_bisiesto(año):
        dias_por_mes[2] = 29

    if 1 <= mes <= 12 and 1 <= dia <= dias_por_mes[mes]:
        print(f'La fecha {fecha} es válida')
    else:
        print(f'La fecha {fecha} no es válida')

except ValueError:
    print("⚠️ Entrada inválida. Por favor, ingrese una fecha válida.\n")

Ingrese una fecha en formato dd/mm/aaaa: 29/2/2020
Ingrese el año actual: 2025
La fecha 29/2/2020 es válida

Momento para los proyectos

7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [ ]:
colonia =  [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
porcentaje_crecimiento = []

for i in range(len(colonia)-1):
  porcentaje_crecimiento.append(round(100 * (colonia[i+1] - colonia[i]) / colonia[i], 2))
porcentaje_crecimiento.insert( 0, 0)
print(porcentaje_crecimiento)

[0, 75.0, 57.14, 51.52, 56.0, 44.87, 46.9, 51.2, 50.6, 50.53]

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [ ]:
'''
dulces = []
amargos = []


for i in range(10):
  if i%2 == 0:
    dulces.append(i)
  else:
    amargos.append(i)

print(f'Poductos dulces {len(dulces)}')
print(f'Productos amargos {len(amargos)}')
'''

dulces = []
amargos = []

for i in range(10):
    try:
        id_producto = int(input(f"Ingresá el ID del producto #{i+1}: "))
        if id_producto % 2 == 0:
            dulces.append(id_producto)
        else:
            amargos.append(id_producto)
    except ValueError:
        print("⚠️ Ingresá un número entero válido.")
        continue

print(f'\nProductos dulces: {len(dulces)}')
print(f'Productos amargos: {len(amargos)}')

Ingresá el ID del producto #1: 5
Ingresá el ID del producto #2: 74
Ingresá el ID del producto #3: 16
Ingresá el ID del producto #4: 5463
Ingresá el ID del producto #5: 19
Ingresá el ID del producto #6: 24
Ingresá el ID del producto #7: 19
Ingresá el ID del producto #8: 35
Ingresá el ID del producto #9: 513
Ingresá el ID del producto #10: 545

Productos dulces: 3
Productos amargos: 7

9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.

Resultado del examen:
* 01 - D
* 02 - A
* 03 - C
* 04 - B
* 05 - A
* 06 - D
* 07 - C
* 08 - C
* 09 - A
* 10 - B

In [ ]:
soluciones = {
    "1": "D", "2": "A", "3": "C", "4": "B", "5": "A",
    "6": "D", "7": "C", "8": "C", "9": "A", "10": "B"
}
puntaje = 0
respuestas_alumno = {}

## Solicito respuestas al alumno
for i in range(len(soluciones)):
  respuesta = input(f"Ingrese la respuesta para la pregunta {i+1}. OPCIONES A, B, C, D: ").upper()
  respuestas_alumno[f"{i+1}"] = respuesta

## Se verifican las respuestas dadas
for i in range(len(respuestas_alumno)):
  if respuestas_alumno[str(i+1)] == "A"or respuestas_alumno[str(i+1)] == "B" or respuestas_alumno[str(i+1)] == "C" or respuestas_alumno[str(i+1)] == "D":
    continue
  else:
    nueva_respuesta = input(f"Respondiste al pregunta {i+1} con {respuestas_alumno[str(i+1)]} LAS OPCIONES SON A, B, C, D. Intentalo nuevamente: ").upper()
    respuestas_alumno[str(i)] = nueva_respuesta

# Se evaluan las respuestas
for i in range(len(respuestas_alumno)):
  if respuestas_alumno[str(i+1)] == soluciones[str(i+1)]:
    puntaje +=1

print(f'\n Has obtenido un puntaje de {puntaje} en tu evaluación')
print(f'\n Estas fueron tus resuestas{respuestas_alumno}')


'''
soluciones = {
    "1": "D", "2": "A", "3": "C", "4": "B", "5": "A",
    "6": "D", "7": "C", "8": "C", "9": "A", "10": "B"
}
puntaje = 0
respuestas_alumno = {}

# Solicito respuestas al alumno
for i in range(1, 11):
    while True:
        respuesta = input(f"Ingrese la respuesta para la pregunta {i}. OPCIONES A, B, C, D: ").upper()
        if respuesta in ["A", "B", "C", "D"]:
            respuestas_alumno[str(i)] = respuesta
            break
        else:
            print("⚠️ Respuesta inválida. Intenta nuevamente.")

# Se evalúan las respuestas
for i in range(1, 11):
    if respuestas_alumno[str(i)] == soluciones[str(i)]:
        puntaje += 1

print(f'\nHas obtenido un puntaje de {puntaje} en tu evaluación.')
print('Tus respuestas:', respuestas_alumno)
'''

Ingrese la respuesta para la pregunta 1. OPCIONES A, B, C, D: d
Ingrese la respuesta para la pregunta 2. OPCIONES A, B, C, D: a
Ingrese la respuesta para la pregunta 3. OPCIONES A, B, C, D: c
Ingrese la respuesta para la pregunta 4. OPCIONES A, B, C, D: b
Ingrese la respuesta para la pregunta 5. OPCIONES A, B, C, D: a
Ingrese la respuesta para la pregunta 6. OPCIONES A, B, C, D: d
Ingrese la respuesta para la pregunta 7. OPCIONES A, B, C, D: c
Ingrese la respuesta para la pregunta 8. OPCIONES A, B, C, D: c
Ingrese la respuesta para la pregunta 9. OPCIONES A, B, C, D: a
Ingrese la respuesta para la pregunta 10. OPCIONES A, B, C, D: b

 Has obtenido un puntaje de 10 en tu evaluación

 Estas fueron tus resuestas{'1': 'D', '2': 'A', '3': 'C', '4': 'B', '5': 'A', '6': 'D', '7': 'C', '8': 'C', '9': 'A', '10': 'B'}

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

In [ ]:
meses = "Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre"
meses = meses.split()
meses
temperaturas = []
altas = {}

for i in range(len(meses)):
  temperatura = int(input(f"Ingrese la temperatura media del mes de {meses[i]}: "))
  temperaturas.append(temperatura)

promedio = sum(temperaturas)/len(temperaturas)

print(f'El promedio anual es {promedio:.2f}°C')

for i in range(len(temperaturas)):
  if temperaturas[i] > promedio:
    altas[meses[i]] = temperaturas[i]

print(f'Las temperaturas por encima del promedio anual son: {altas}')


# meses = "Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre".split()
# temperaturas = []
# altas = {}

# for i in range(len(meses)):
#     temperatura = float(input(f"Ingrese la temperatura media del mes de {meses[i]}: "))
#     temperaturas.append(temperatura)

# promedio = sum(temperaturas) / len(temperaturas)
# print(f'\n🌡️ El promedio anual es de {promedio:.2f}°C\n')

# for i in range(len(temperaturas)):
#     if temperaturas[i] > promedio:
#         altas[meses[i]] = temperaturas[i]

# print('📈 Meses con temperatura por encima del promedio:')
# for mes, temp in altas.items():
#     print(f'- {mes}: {temp}°C')

Ingrese la temperatura media del mes de Enero: 35
Ingrese la temperatura media del mes de Febrero: 30
Ingrese la temperatura media del mes de Marzo: 28
Ingrese la temperatura media del mes de Abril: 25
Ingrese la temperatura media del mes de Mayo: 15
Ingrese la temperatura media del mes de Junio: 11
Ingrese la temperatura media del mes de Julio: 11
Ingrese la temperatura media del mes de Agosto: 10
Ingrese la temperatura media del mes de Septiembre: 20
Ingrese la temperatura media del mes de Octubre: 25
Ingrese la temperatura media del mes de Noviembre: 28
Ingrese la temperatura media del mes de Diciembre: 29

🌡️ El promedio anual es de 22.25°C

📈 Meses con temperatura por encima del promedio:
- Enero: 35.0°C
- Febrero: 30.0°C
- Marzo: 28.0°C
- Abril: 25.0°C
- Octubre: 25.0°C
- Noviembre: 28.0°C
- Diciembre: 29.0°C

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

{'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

Escribe un código que calcule el total de ventas y el producto más vendido.

In [ ]:
ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

total_ventas = 0
producto_mas_vendido = None
cantidad_mas_vendida = 0

for producto, cantidad in ventas.items():
  total_ventas += cantidad

  if cantidad > cantidad_mas_vendida:
    cantidad_mas_vendida = cantidad
    producto_mas_vendido = producto

print(f'El total de ventas es de ${total_ventas}\nEl producto mas vendido es {producto_mas_vendido}')

El total de ventas es de $920
El producto mas vendido es Producto A

12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:

Tabla de votos de la marca
* Diseño 1 - 1334 votos
* Diseño 2 - 982 votos
* Diseño 3 - 1751 votos
* Diseño 4 - 210 votos
* Diseño 5 - 1811 votos

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [ ]:
votos = {
    "Diseño 1": 1334,
    "Diseño 2": 982,
    "Diseño 3": 1751,
    "Diseño 4": 210,
    "Diseño 5": 1811
}
##total_votos = sum(votos.values())
total_votos = 0
ganador = None
mayor = 0
porcentaje_votos = {}

for diseño, voto in votos.items():
  porcentaje_votos[diseño] = round((voto/sum(votos.values()))*100, 2)
  total_votos += voto
  if voto > mayor:
    mayor = voto
    ganador = diseño

print(f'El diseño ganador es {ganador} habiendo obtenido el {porcentaje_votos[ganador]}% de los votos')


# votos = {
#     "Diseño 1": 1334,
#     "Diseño 2": 982,
#     "Diseño 3": 1751,
#     "Diseño 4": 210,
#     "Diseño 5": 1811
# }

# total_votos = sum(votos.values())
# ganador = max(votos, key=votos.get)
# porcentaje_votos = {
#     diseño: round((voto / total_votos) * 100, 2)
#     for diseño, voto in votos.items()
# }

# print(f'El diseño ganador es {ganador} con el {porcentaje_votos[ganador]}% de los votos.')

El diseño ganador es Diseño 5 con el 29.75% de los votos.

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [ ]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]

bonificaciones = {}
minima = 0
alta = 0

for salario in salarios:
  bonificacion = salarios[i]*0.1
  if bonificacion < 200:
    bonificaciones[salarios[i]] = 200
    minima += 1
  else:
    bonificaciones[salarios[i]] = bonificacion
    if bonificacion > alta:
      alta = bonificacion

print(f'El gasto total en bonificaciones es de ${sum(bonificaciones.values())}')
print(f'{minima} empleados han recibido la bonificaciuón mínima')
print(f'La bonificacion percibida más alta fue de ${alta:.2f}')

El gasto total en bonificaciones es de $6087.8
2 empleados han recibido la bonificaciuón mínima
La bonificacion percibida más alta fue de $790.30

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

{'Área Norte': [2819, 7236], 'Área Este': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [ ]:
datos = {
    'Área Norte': [2819, 7236],
    'Área Este': [1440, 9492],
    'Área Sul': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
}

total_especies_por_area = {}
total_general = 0

# Sumar las especies de cada área
for area, especies in datos.items():
    total_area = sum(especies)  # plantas + animales
    total_especies_por_area[area] = total_area
    total_general += total_area

promedio = total_general / len(datos)

# Encontrar el área con más especies
area_mayor_diversidad = max(total_especies_por_area, key=total_especies_por_area.get)

print(f'El promedio de especies por área es: {promedio:.2f}')
print(f'El área con mayor diversidad biológica es: {area_mayor_diversidad} con {total_especies_por_area[area_mayor_diversidad]} especies')

El promedio de especies por área es: 33258.40
El área con mayor diversidad biológica es: Área Centro con 67706 especies

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

{'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

 Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [ ]:
datos = {
          'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
          'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
          'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
          'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
        }

edad_media_general = 0
plantilla = 0
edad_media_por_sector = {}
empleadodos_sobre_la_media = 0

for sectores, edades in datos.items():
  edad_media_por_sector[sectores] = sum(edades)/len(edades)
  plantilla += len(edades)
  edad_media_general += sum(edades)

edad_media_general = edad_media_general/plantilla

for sectores, edades in datos.items():
  for i in range(len(edades)):
    if edades[i] > edad_media_general:
      empleadodos_sobre_la_media += 1

print(f'Edad media por sectores: {edad_media_por_sector}')
print(f'La edad media general en la empresa es de {round(edad_media_general)} años')
print(f'En la empresa hay {empleadodos_sobre_la_media} empleados con una edad sobre la media')


# datos = {
#     'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
#     'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
#     'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
#     'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
# }

# edad_media_por_sector = {}
# total_edades = 0
# total_personas = 0
# empleados_sobre_media = 0

# # Calcular media por sector y preparar para media general
# for sector, edades in datos.items():
#     media_sector = sum(edades) / len(edades)
#     edad_media_por_sector[sector] = media_sector
#     total_edades += sum(edades)
#     total_personas += len(edades)

# edad_media_general = total_edades / total_personas

# # Contar empleados con edad sobre la media
# for edades in datos.values():
#     for edad in edades:
#         if edad > edad_media_general:
#             empleados_sobre_media += 1

# # Resultados
# print("Edad media por sector:")
# for sector, media in edad_media_por_sector.items():
#     print(f"  {sector}: {media:.2f} años")

# print(f"\nEdad media general en la empresa: {edad_media_general:.2f} años")
# print(f"Cantidad de empleados sobre la media: {empleados_sobre_media}")

Edad media por sector:
  Sector A: 39.90 años
  Sector B: 42.30 años
  Sector C: 35.80 años
  Sector D: 36.50 años

Edad media general en la empresa: 38.62 años
Cantidad de empleados sobre la media: 18